h1, h2, h5, input, label {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    margin: 0px 0px;
}

h5 {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ace2df;
}

body > div {
  display: flex;
  flex-direction: column;
}



#submitButton {
  border-radius: 10px;
  background-color: #B98C2D;
  border: 1px solid #d2a445;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
