<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title> Paciente </title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/formulario.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id='formulario'>
        <form v-on:submit.prevent="submitForm" method="post">
            <ul>
                <li>
                    <label> Id: </label>
                    <input type="number" name="" v-model='id'>
                </li>
                <li id='instituicao'>
                    <label>Instituição: </label>
                    <div>
                        <input type="radio" name="instituicao" value="HMV" v-model='instituicao'>
                        <label>HMV</label>
                    </div>
                    <div>
                        <input type="radio" name="instituicao" value="HCPA" v-model='instituicao'>
                        <label>HCPA</label>
                    </div>
                </li>
                <li>
                    <label>Nome do Pai: </label>
                    <input type="text" name="" v-model='nomePai'>
                </li>
                <li>
                    <label>N° do protocolo: </label>
                    <input type="number" name="" v-model='protocolo'>
                </li>
                <li>
                    <label>Data de nascimento: </label>
                    <input type="date" v-model='dataNascimento'>
                </li>
                <li>
                    <label>Idade certa: </label>
                    <input type="text" v-model='idadeCerta'>
                    <input type="text">
                </li>
                <li>
                    <label>Peso: </label>
                    <input type="number" step='.01' v-model='peso'>
                </li>
                <li>
                    <label>Sexo: </label>
                    <div>
                        <input type="radio" name="sexo" value="M" v-model='sexo'>
                        <label>Masculino</label>
                    </div>
                    <div>
                        <input type="radio" name="sexo" value="F" v-model='sexo'>
                        <label>Feminino</label>
                    </div>
                </li>
                <li>
                    <label>Outro: </label>
                    <input type="text" v-model='outro'>
                </li>
            </ul>
            <div>
                <input id="submitButton" type="submit" value="Salvar">
            </div>
        </form>
    </div>


    <script type="text/javascript">
        new Vue({
            el: '#formulario',
            data: {
                id: '',
                instituicao: '',
                nomePai: '',
                protocolo: '',
                dataNascimento: "2000-01-01",
                idadeCerta: '',
                peso: '',
                sexo: '',
                outro: ''
            },
            methods: {

                submitForm: function(event) {

                    console.log('Id:', this.id);
                    console.log('instituicao:', this.instituicao);
                    console.log('nomePai:', this.nomePai);
                    console.log('protocolo:', this.protocolo);
                    console.log('dataNascimento:', this.dataNascimento);
                    console.log('idadeCerta:', this.idadeCerta);
                    console.log('peso:', this.peso);
                    console.log('sexo:', this.sexo);
                    console.log('outro:', this.outro);
                }
            }
        });
    </script>


</body>

</html>
